# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
.venv/
.env/

# PyCharm project settings
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Byte-compiled / optimized / DLL files
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Compiled C extensions
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environment variables and secrets
*.env
.env.*
